@font-face {
    font-family: "Fivo Sans - Heavy";
    src: url('../fonts/FivoSans-Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fivo Sans";
    src: url('../fonts/FivoSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

