.header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;

        &-logo {
            flex: 0 1 550px;
        }

        &__logo {
            color: $red;
            font-size: 32px;
            font-family: "Fivo Sans - Heavy";
        }

        &__auth {
            background-color: $red;
        }
    }

    &-nav {
        margin-right: 100px;

        &-ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            flex: 0 1 400px;
    
            &__item {
                a {
                    color: $blue;
                    font-size: 18px;
                    opacity: 0.5;
                    text-decoration: none;
                }
        
                a.active {
                    color: $red;
                    opacity: 1;
                    font-weight: 700;
                }
        
            }
    
        }
    }

    &-nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 400px;

        &__item {
            a {
                color: $blue;
                font-size: 18px;
                opacity: 0.5;
                text-decoration: none;
            }
    
            a.active {
                color: $red;
                opacity: 1;
                font-weight: 700;
            }
    
        }

    }

    &-content{
        margin-top: 100px;        
        margin-left: 100px;
        width: 550px;
        display: flex;
        flex-direction: column;

        &__text {
            width: 450px;
        }

        &-toolbar {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                width: 240px;
                height: 80px;
                border-radius: 40px;
            }

            &__service {
                background-color: $red;
                box-shadow: -14px 17px 24px 1px rgba(226, 88, 91, 0.45), 0 0 7px rgba(255, 255, 255, 0.35);
            }

            &__signUp {
                background-color: transparent;
                border: 2px solid $red;
                color: $red;
            }
        }
    }


}

@media (min-width : 1224px) and (max-width: 1600px) {
    .header {
        &-content {
            margin-left: 175px;
        }
    }
}

@media (max-width: 900px) {
    .header-nav {
        margin-right: 50px;
    }
}

@media (max-width: 690px) {
    .header-nav {
        width: 100%;
        margin-right: 0;
        &-ul {
            width: auto;
            flex-direction: column;
            align-items: center;
            padding-left: 0px;
        }
    }
}

@media (max-width: 500px) {
    .header-menu-logo {
        display: none;
    }

    .header-menu {
        justify-content: space-between;
    }
}
