.power {
    &-wrapper {
        display: flex;
        flex-direction: row;

        &-left {
            flex: 0 1 50%;

            &__title {
                margin-top: 100px;
                margin-bottom: 70px;
                line-height: 60px;
            }

            &__text {
                max-width: 400px;
                margin-left: 70px;
                opacity: 0.65;
                line-height: 40px;
                font-weight: 300;
            }

            &__read-more {
                margin-left: 90px;
                margin-top: 50px;
                a {
                    color: #3cbef1;
                    font-style: italic;
                    text-decoration: none;
                }
            }
        }

        &-right {
            flex: 0 1 50%;
        }
    }
}